body {
display: flex;
flex-direction: column;
height: 100vh;
}

img {
  height: 150px;
  width: 300px;

  }
a {
text-decoration: none;
color: black;
}
footer {
display: inline-block;
}
a {
  display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
text-align:center;
clear: both;
height: 20vh;

}

i {height: 200px;
  width: 200px;
  color: grey;
}

input {
width: 300px;
margin: auto;

}

footer {
/*    bottom: 0;
   postion: absolute; */
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
 }

 header {font-size: 10px;
   display: inline-block;
   float:
 }


 #nav_bar {
   display: inline-block;
 }

 #nav_bar a {
   display: inline-block;
   padding: 8px;
